<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @clinica.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @clinica.endereco %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @clinica.descricao %>
</p>

<%= link_to 'Edit', edit_clinica_path(@clinica) %> |
<%= link_to 'Back', clinicas_path %>
